<h1>Listing buy_phones</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buy_phones.each do |buy_phone| %>
      <tr>
        <td><%= link_to 'Show', buy_phone %></td>
        <td><%= link_to 'Edit', edit_buy_phone_path(buy_phone) %></td>
        <td><%= link_to 'Destroy', buy_phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buy phone', new_buy_phone_path %>
