.container {
  width: 710px;
}

@-webkit-keyframes pulsate{0%{color:#333;background:#fff}7%{color:#0c85ff;background:#001F3F}14%{color:#40a9ff;background:#0074D9}21%{color:#00a8e5;background:#7FDBFF}28%{color:#165656;background:#39CCCC}35%{color:#112c20;background:#3D9970}42%{color:#124f18;background:#2ECC40}49%{color:#00672d;background:#01FF70}56%{color:#665700;background:#FFDC00}63%{color:#ffd6b4;background:#FF851B}70%{color:#ffd1cf;background:#FF4136}77%{color:#e44e99;background:#85144B}84%{color:#f9a2e6;background:#F012BE}91%{color:#e679f6;background:#B10DC9}95%{color:#5e5e5e;background:#111}96%{color:#919191;background:#ddd}98%{color:#5d5d5d;background:#aaa}100%{color:#b3b3b3;background:#fff}}
.pulsate-bg{-webkit-animation:pulsate 2000s linear infinite;animation:pulsate 2000s linear infinite}


body {-webkit-animation:pulsate 3000s linear infinite;animation:pulsate 3000s linear infinite}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}
/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}



/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}


/* buy button */

.buy_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #7FDBFF;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}








/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}





.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/* Users eat bamboo */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/*Microposts aka SMS */

h1.message {
  margin-bottom: 0.3em;
}

table.messages {
  margin-top: 1em;
}

table.messages tr {
  height: 70px;
}

table.messages tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.messages tr td.message {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.messages tr td.message span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.messages {
  font-size: 80%;
}

form.new_message {
  margin-bottom: 2em;
}

form.new_message textarea {
  height: 4em;
  margin-bottom: 0;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible {
  display: none;
}

.pulsate-bg{}
@-webkit-keyframes warning{0%{color:#FF851B;background: #FFDC00}25%{color:#FF4136;background: #111111;}75%{color:#0074D9;background: #FFDC00;}100%{color:#FFDC00;background: #FF851B;}}

.announce {
  width: 100%;
  -webkit-animation:warning 75s linear infinite;animation:warning 75s linear infinite;
  border-bottom: solid 4px black;
  padding: 10px 0;
  text-align: center;
  a {
    font-size: 12px;
    margin-left: 5px;
    color: #6E5910;
  }
}
