<%= form_for(@announce) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :message, placeholder: "Compose new Site-Wide announce..." %>
  </div>
 
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>