<h1>About the SMS Panda App</h1>
<p>
  SMS Panda is a simple web app that uses a virtual VOIP number to handle SMS and relax your thumbs!
  You can find out more about the app, including its source code here: <%= link_to("SMS Panda on GitHub", "https://github.com/amassaad/sms-panda") %>
</p>
