<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About the site", about_path %></li>
      <li><%= link_to "Contact Us", contactus_path %></li>
      <li><a href="http://www.atam.ca">ATAM Productions</a></li>
    </ul>
  </nav>
</footer>